.popup__message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--accent-alt);
  font-size: 16px;
  padding: 3px 8px;
  color: white;
  border-radius: 5px;
  z-index: 99999999;
}
